[user]
	name = hardy
	useConfigOnly = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[color]
  diff = auto
  status = auto
  branch = auto
[github]
  name = mazone@gmail.com
[credential]
	helper = osxkeychain
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[diff "sopsdiffer"]
	textconv = sops -d
